.modal {
  width: 998px;

  overflow-y: auto;
  max-height: 80vh;
}

.imgList {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.galleryImg {
  border-radius: 10px;
}
.tabUl {
  display: flex;
  gap: 40px;
}
.tabBtn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;

  height: 50px;
  cursor: pointer;

  &:active {
    color: tomato;
  }
}

.current {
  background-color: tomato;
}

.name {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
